@import '../../stylesheets/colors';

.Pup {
  margin: 0 auto;
  width: 600px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 20px;

  .Pup-user {
    font-size: 14px;
  }

  .Pup-user span {
    display: inline-block;
    float: right;
    color: #aaa;
  }

  .Pup-user strong {
    display: inline-block;
    float: left;
  }

  .Pup-user a {
    display: inline-block;
    color: #aaa;
    margin-left: 5px;
  }

  .Pup-user.repuped-by {
    color: #888;
    margin-bottom: 15px;
  }

  .Pup-metadata {
    border: 1px solid $gray-lighter;
    padding: 15px;
    border-radius: 3px;
    margin-top: 20px;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }

    img + header {
      margin: 15px -15px -15px;
      padding: 15px;
      border-top: 1px solid $gray-lighter;
    }

    header p {
      margin: 5px 0 0 0;
    }
  }

  .Pup-delete {
    color: $danger;
    opacity: 0.5;
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    padding: 0;

    &:hover {
      opacity: 1;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .Pup-repup {
    color: $gray;
    opacity: 0.5;
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    padding: 0;

    &:hover {
      opacity: 1;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .Pup-message {
    margin: 0;
    font-size: 15px;
  }

  &.is-repup .Pup-repup-content {
    border: 1px solid $gray-lighter;
    border-radius: 3px;
    padding: 15px;
  }
}
