.Username {
  width: 600px;
  margin: 0 auto;

  header img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
  }

  header {
    margin-bottom: 20px;
  }

  .UsernameBio {
    clear: both;
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .UsernameFollowCounts {
    padding-top: 20px;

    .table {
      margin-bottom: 0px;
    }

    tr {
      border-bottom: none;
    }

    tr th,
    tr td {
      text-align: center;
    }

    thead tr th {
      border-bottom: none;
    }
  }
}
