.Username {
  width: 600px;
  margin: 0 auto;

  img {
    float: left;
    border-radius: 40px;
    margin-right: 10px;
  }

  header {
    margin-bottom: 20px;
  }

  .UsernameBio {
    clear: both;
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
}
