.Progress {
  .progress-bar {
    display: block;
    background: #eee;
    height: 20px;
    width: 100%;
    border-radius: 30px;
    box-shadow: none;
    overflow: hidden;
  }

  .fill {
    height: 20px;
    border-radius: 30px;
    background: green;
    transition: all .7s ease-in-out;
  }
}
